@use "/src/app.scss" as *;

.hero {
  height: calc(100vh - 80px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 10px;
        align-items: center;
        text-align: center;
        justify-content: flex-start;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 88px;

        @include mobile {
          font-size: 36px;
        }
      }

      .buttons {
        z-index: 200; // Ensure it's above the slider
        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
        }
      }

      img {
        width: 50px;
        object-fit: cover; /* Ensure the image covers the area without stretching */

        @include mobile {
          position: absolute;
          bottom: 50px; /* Adjust this value to move the image up or down */

          left: 0; /* Position the image at the left */
        }
      }
    }
  }

  .imageContainer {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    // border: solid red;
    @include mobile {
      height: 65%;
      top: unset;
      right: 0;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%); /* Centers the image horizontally */
    }

    img {
      height: 100%;
      position: absolute;
      object-fit: contain;
      right: 0;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%); /* Centers the image horizontally */
      @include mobile {
        height: 100%; /* Ensure the image stays full height on mobile */
        bottom: 20px; /* Adjust this value to move the image up or down */
        object-fit: contain;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
